button{
    background-color: rgba(3, 15, 11, 0.152);
    height: 50px;
    padding: 0px 20px;
    border-radius: 6px;
}
a{
    display: flex;
    justify-content: center;
    color: rgb(20, 72, 169);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    max-width: 200px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.content{
    display: flex;
    justify-content: center;
}
.leftSection{
    background-color: red;
}
.rightSection{
    background-color: blue;
}